nav {
	color: $color-primary;
	background-color: $color-white;
	@include transition-property(all);
	@include transition-duration(1s);
	@include transition-timing-function(ease-in);
	ul {
		li {
			a {
				display: block;
				color: inherit;
				&:hover {

				}
			}
		}
	}
	@media screen and (min-width: 610px) { // @TODO: variable!?
		position: fixed;
		top: 25px; left: 0;
		background-color: rgba($color-white, 0.7);
		ul {
			float: left;
			@include horizontal-list;
			overflow: visible; /* undo sass mixin */
			position: relative;
			left: 50%;
			li {
				position: relative;
				right: 50%;
				a {
					font-size: 18px; font-size: 1.8rem;
					font-weight: bold;
					padding: 1em; @include transition-property(padding);
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		body.scrolled & {
			top: 0;
			background-color: $color-white;
			border-bottom: 2px solid $color-primary;
			a {
				padding: 0.5em 1em;
			}
		}
	}
}
