section {
	&#cover {
		display: table;
		height: 100%;
		padding: 20%; // size the title overlay
		// we are setting background-attachment to scroll here,	b/c of mobile issues with fixed
		//	fixed positioning is handled through javascript
		background: transparent url('/images/tpms-mobile.jpg') center bottom no-repeat scroll;
		@include background-size(cover);
		color: $color-white;
		.content {
			/* vertically center */
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			/*
				// old vertically center
			position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
			*/

			background-color: transparent; /* The Fallback */
			background-color: rgba($color-white, 0.2);
			padding: 5% 10%;
			margin: 0;

			// text effects
			text-shadow: 5px 5px 0 $color-black;
		}
	  h1 {
	    font-size: 42px; font-size: 4.2rem;
	    color: inherit;
	    text-align: center;
			margin: 0; padding: 0;
	  }
		h2 {
			font-size: 32px; font-size: 3.2rem;
			text-align: center;
			color: inherit;
			margin: 0; padding: 0;
		}
		.button {
			margin: 30px 0 0; margin: 3rem 0 0;
		}
		// @TODO other text effects (shadow?)

		// mobile background should be set to scroll instead of fixed
		@media screen and (min-width: 610px) { // TODO variable!?
			h1 {
				font-size: 60px; font-size: 6rem;
			}
			h2 {
				font-size: 40px; font-size: 4rem;
			}
		}
		// use full size image on large screens
		@media screen and (min-width: 1024px) { // actual image size (of *-mobile.jpg)
			background-image: url('/images/tpms-full.jpg');
		}
		@media screen and (min-width: 1920px) { // actual image size (of *-full.jpg)
			background-image: url('/images/tpms-original.jpg');
		}
	}
}
