* {
	@include box-sizing(border-box);
}
*:before, *:after {
	@include box-sizing(border-box);
}
html {
	font-family: "Kreon", serif;
	font-size: 62.5%;
}
body {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #01161e;
	background-color: #fffded;
}
#{headings()} {
	line-height: 1.2;
	a {
		&:link, &:visited {
			color: inherit;
		}
	}
}
h1 {
	color: #00002a; // @TODO: variable!?
	margin: 1em 0 0.5em;
}
p {
	line-height: 2; /* W3C compliant */
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

/* FontAwesome */
:before, :after {
	/* generic fontawesome style */
	display: inline-block;
	color: inherit;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	line-height: inherit; /* added 01/22/2104 DHP */
	vertical-align: middle; /* added 01/22/2104 DHP */
	@include font-smoothing();
}
