$color-primary: #A71D31;
$color-secondary: #D5BF86;

$color-white: #ffffff;
$color-black: #000000;

$zindex-nav: 100;
$zindex-nonzero: 1;
$zindex-top: 999;

/*********************************************************/
$phone-old: 240px;
$phone-feature: 320px;
$phone-smart: 480px;
$phone-smart-landscape: 600px;
$tablet-small: 720px; // netbook, Kindle Fire
$tablet-medium: 768px;
$tablet-large: 800px;
$desktop-old: 1024px;
$desktop-modern: 1280px;
/*********************************************************/
$breakpoint-full: 959px;
$breakpoint-medium: $tablet-medium;
$breakpoint-small: $phone-smart;
